{{ partial "header.html" . -}}
<header><h1 id="tag_headline_blog">{{ .Title | title | lower }}</h1></header>
<article>
{{ .Content -}}
<div style="display: flex; justify-content: flex-end">
<a href='/feed.xml' type='application/rss+xml'><img class='icon' src='/svg/rss.svg'> RSS feed</a>
</div>
{{ range ( where .Site.RegularPages.ByDate.Reverse "Type" "blog" ) }}
<p class="date">{{ .Date.Format "January 2, 2006" }}</p>
<h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
<p class="desc">{{ .Summary }}</p>
{{ if .Truncated }}
<a href="{{ .RelPermalink }}">Read more...</a>
{{ end }}
<p class="time">🕑 Approx. {{ .ReadingTime }} minute read.</p>
<!--<p class="tags">{{ with .Params.tags }} Tagged with: {{ delimit . ", "}}{{ end }}</p>-->
<hr>
{{end}}

</article>
{{- partial "footer.html" . }}
