<div class="container">
  <div class="card_desktop">
    <a href="/about/1.webp"><img class="about_desktop" src="/about/1.webp" title="neofetch output"></a>
  </div>
  <div class="card_desktop">
    <a href="/about/2.webp"><img class="about_desktop" src="/about/2.webp" title="editing deploy-site script and rss"></a>
  </div>
  <div class="card_desktop">
    <a href="/about/3.webp"><img class="about_desktop" src="/about/3.webp" title="ranger and systemd service status"></a>
  </div>
  <div class="card_desktop">
    <a href="/about/4.webp"><img class="about_desktop" src="/about/4.webp" title="ansible output"></a>
  </div>
  <div class="card_desktop">
    <a href="/about/5.webp"><img class="about_desktop" src="/about/5.webp" title="ranger and mpv"></a>
  </div>
  <div class="card_desktop">
    <a href="/about/6.webp"><img class="about_desktop" src="/about/6.webp" title="ncmpcpp"></a>
  </div>
  <div class="card_desktop">
    <a href="/about/7.webp"><img class="about_desktop" src="/about/7.webp" title="ranger and nsxiv"></a>
  </div>
  <div class="card_desktop">
    <a href="/about/8.webp"><img class="about_desktop" src="/about/8.webp" title="htop, newsboat and vsv output"></a>
  </div>
</div>
