<div class="container">

<div class="service">
<ul class="service">
<li><a class="service" href="https://chat.efym.net"><img class="service" src="/png/element.png">Element</a></li>
<li><a class="service" href="https://git.efym.net"><img class="service" src="https://raw.githubusercontent.com/walkxcode/dashboard-icons/main/svg/forgejo.svg">Forgejo</a></li>
<li><a class="service" href="https://search.efym.net"><img class="service" src="/svg/searxng.svg">SearxNG</a></li>
</ul>
</div>

<div class="service">
<ul class="service">
<li><a class="service" href="https://wmail.efym.net"><img class="service" src="/svg/roundcube.svg">Roundcube</a></li>
<li><a class="service" href="https://cloud.efym.net"><img class="service" src="/png/seafile.png">Seafile</a></li>
<li><a class="service" href="https://put.efym.net"><img class="service" src="/png/linx.png">Linx</a></li>
</ul>
</div>

<div class="service">
<ul class="service">
<li><a class="service" href="https://links.efym.net"><img class="service" src="/svg/shaarli.svg">Shaarli</a></li>
</ul>
</div>

<div class="service">
<ul class="service">
<li><a class="service" href="/management"><img class="service" src="/svg/_cog.svg">Management</a></li>
</ul>
</div>

</div>
