<div class="container">

<div class="service">
<ul class="service">
<li><a class="service" href="https://chat.efym.net"><img class="service" src="https://raw.githubusercontent.com/walkxcode/dashboard-icons/main/svg/element.svg">Element</a></li>
<li><a class="service" href="https://git.efym.net"><img class="service" src="https://raw.githubusercontent.com/walkxcode/dashboard-icons/main/svg/forgejo.svg">Forgejo</a></li>
<li><a class="service" href="https://search.efym.net"><img class="service" src="https://raw.githubusercontent.com/walkxcode/dashboard-icons/main/svg/searxng.svg">SearxNG</a></li>
</ul>
</div>

<div class="service">
<ul class="service">
<li><a class="service" href="https://wmail.efym.net"><img class="service" src="https://raw.githubusercontent.com/walkxcode/dashboard-icons/main/svg/roundcube.svg">Roundcube</a></li>
<li><a class="service" href="https://cloud.efym.net"><img class="service" src="https://raw.githubusercontent.com/walkxcode/dashboard-icons/main/svg/nextcloud.svg">Nextcloud</a></li>
<li><a class="service" href="https://cloud.efym.net"><img class="service" src="https://raw.githubusercontent.com/walkxcode/dashboard-icons/main/svg/seafile.svg">Seafile</a></li>
</ul>
</div>

<div class="service">
<ul class="service">
<li><a class="service" href="https://traefik.efym.net"><img class="service" src="https://raw.githubusercontent.com/walkxcode/dashboard-icons/main/svg/traefik.svg">Traefik</a></li>
<li><a class="service" href="https://vpn.efym.net"><img class="service" src="https://raw.githubusercontent.com/walkxcode/dashboard-icons/main/svg/wireguard.svg">WireGuard</a></li>
<!-- <li><a class="service" href="https://ntfy.efym.net"><img class="service" src="https://raw.githubusercontent.com/walkxcode/dashboard-icons/main/svg/ntfy.svg">ntfy</a></li> -->
</ul>
</div>

</div>
