<div class="container">

<div class="service">
<ul class="service">
<li><a class="service" href="https://login.efym.net"><img class="service" src="https://raw.githubusercontent.com/walkxcode/dashboard-icons/main/svg/authelia.svg">Authelia</a></li>
<li><a class="service" href="https://files.efym.net"><img class="service" src="https://raw.githubusercontent.com/walkxcode/dashboard-icons/main/svg/filebrowser.svg">Filebrowser</a></li>
<li><a class="service" href="https://links.efym.net"><img class="service" src="https://raw.githubusercontent.com/walkxcode/dashboard-icons/main/svg/linkding.svg">Linkding</a></li>
<li><a class="service" href="https://ansible.efym.net"><img class="service" src="https://raw.githubusercontent.com/walkxcode/dashboard-icons/main/svg/semaphore.svg">Semaphore</a></li>
<li><a class="service" href="https://backrest.efym.net"><img class="service" src="https://restic.readthedocs.io/en/latest/_static/logo.png">Restic</a></li>
</ul>
</div>

<div class="service">
<ul class="service">
<li><a class="service" href="https://media.efym.net"><img class="service" src="https://raw.githubusercontent.com/walkxcode/dashboard-icons/main/svg/jellyfin.svg">Jellyfin</a></li>
<li><a class="service" href="https://jellyseerr.efym.net"><img class="service" src="https://raw.githubusercontent.com/walkxcode/dashboard-icons/main/svg/jellyseerr.svg">Jellyseerr</a></li>
<li><a class="service" href="https://radarr.efym.net"><img class="service" src="https://raw.githubusercontent.com/walkxcode/dashboard-icons/main/svg/radarr.svg">Radarr</a></li>
<li><a class="service" href="https://sonarr.efym.net"><img class="service" src="https://raw.githubusercontent.com/walkxcode/dashboard-icons/main/svg/sonarr.svg">Sonarr</a></li>
<li><a class="service" href="https://prowlarr.efym.net"><img class="service" src="https://raw.githubusercontent.com/walkxcode/dashboard-icons/main/svg/prowlarr.svg">Prowlarr</a></li>
<li><a class="service" href="https://dl.efym.net"><img class="service" src="https://raw.githubusercontent.com/walkxcode/dashboard-icons/main/svg/qbittorrent.svg">qBittorrent</a></li>
</ul>
</div>

<div class="service">
<ul class="service">
<li><a class="service" href="https://stacks.efym.net"><img class="service" src="https://raw.githubusercontent.com/walkxcode/dashboard-icons/main/svg/dockge-light.svg">Dockge</a></li>
<li><a class="service" href="https://uptime.efym.net"><img class="service" src="https://raw.githubusercontent.com/walkxcode/dashboard-icons/main/svg/uptime-kuma.svg">Uptime Kuma</a></li>
<li><a class="service" href="https://traefik.efym.net"><img class="service" src="https://raw.githubusercontent.com/walkxcode/dashboard-icons/main/svg/traefik.svg">Traefik</a></li>
<li><a class="service" href="https://vpn.efym.net"><img class="service" src="https://raw.githubusercontent.com/walkxcode/dashboard-icons/main/svg/wireguard.svg">WireGuard</a></li>
<li><a class="service" href="https://glances.efym.net"><img class="service" src="https://raw.githubusercontent.com/walkxcode/dashboard-icons/main/svg/glances.svg">Glances</a></li>
<li><a class="service" href="https://scale.efym.net"><img class="service" src="https://raw.githubusercontent.com/walkxcode/dashboard-icons/main/svg/truenas.svg">Truenas</a></li>
<li><a class="service" href="https://gw.efym.net"><img class="service" src="https://raw.githubusercontent.com/walkxcode/dashboard-icons/main/svg/openwrt.svg">OpenWrt</a></li>
<li><a class="service" href="https://dns.efym.net"><img class="service" src="https://raw.githubusercontent.com/walkxcode/dashboard-icons/main/svg/adguard-home.svg">Adguard</a></li>
</ul>
</div>

</div>
