<center>
<p>You can send cryptocurrency donations to the following addresses to support this site and its services:</p>

<div class="container-center">
  <div class="card_crypto">
    <h1><img class="icon" src="/support/xmr.png"> Monero</h1>
    <img src="/support/qr_xmr.png">
    <p class="crypto">82muL9wgujG7RkgxzNFzin89if7GYNbQKVxQwArx77U35uTdXN4iRNYhCq1oBRxHT8TiGo4Wh8BSp6ZZZCxUY3G2Qo3hU6Q</p>
  </div>
  
  <div class="card_crypto">
    <h1><img class="icon" src="/support/btc.png"> Bitcoin</h1>
    <img src="/support/qr_btc.png">
    <p class="crypto">bc1qa6cfruw6a5n7wda27mfs99qvn75ndyslp6xucx</p>
  </div>
  
  <div class="card_crypto">
    <h1><img class="icon" src="/support/eth.png"> Ethereum</h1>
    <img src="/support/qr_eth.png">
    <p class="crypto">0x8e3D0ef62cb6ce59Acd702e2c0Ff8a128551B2c6</p>
  </div>
</div>
</center>
